.alm-filtered-grid {
	opacity: 1;
	transition: opacity .2s ease .3s; 
	&.init {
		opacity: 0;
	}
}
.tax-menu-wrap {
	padding-left: 1rem;
	padding-right: 1rem;
	.tax-menu.grid-x {
		margin-left: -rem-calc(10);
		margin-right: -rem-calc(10);
		> .cell {
			padding-left: rem-calc(10);
			padding-right: rem-calc(10);
		}
	}
	button,
	.button {
		display: inline-block;
		min-width: none;
		margin: rem-calc(9) 0;
	}
}
