footer#colophon {
	padding-top: 2.875rem;
	.top {
		padding-bottom: clamp(rem-calc(40), 6vw, rem-calc(89));
		.left {
			justify-content: center;
			margin-bottom: rem-calc(16);
			@include breakpoint(medium) {
				margin-bottom: 0;
				justify-content: flex-end;
			}
			.logo {
				max-width: clamp( rem-calc(320), 32vw, rem-calc(516) );
			}
		}
		.right {
			ul.social-links {
				display: flex;
				justify-content: center; 
				@include breakpoint(medium) {
					justify-content: flex-start;
					margin-left: rem-calc(8);
					margin-left: clamp( rem-calc(8), 1vw, rem-calc(22) );
					@include breakpoint(medium) {
						margin-left: rem-calc(22);
						margin-left: clamp( rem-calc(8), 1vw, rem-calc(22) );
					}
				}
				li {
					margin: clamp( rem-calc(10), 2vw, rem-calc(20) );
					svg path {
						transition: .25s ease;
					}
					a:hover {
						svg {
							path[fill="#0151d4"] {
								fill: $color-coral;
							}
						}
					}
				}
			}
		}
	}
	.bottom {
		padding-bottom: 4rem;
		.left,
		.right {
			margin-bottom: rem-calc(15);
			margin-bottom: clamp( rem-calc(15), 3vw, rem-calc(19) );
			@include breakpoint(medium) {
				margin-bottom: rem-calc(19);
				margin-bottom: clamp( rem-calc(15), 3vw, rem-calc(19) );
			}
		}
		a {
			color: $color-blue;
			&:hover {
				color: $color-coral;
			}
		}	
		.h6,
		.menu-item-has-children {
			color: $dark-gray;
			line-height: 1.15;
			font-weight: 800;
			margin-bottom: 0;
			> a {
				color: $black;
				font-weight: 800;
				font-family: $font-header;
			}
			ul li a {
				font-weight: 600;
				display: inline-block;
				margin-bottom: clamp(rem-calc(4), 1vw, rem-calc(6));
			}
		}
		.locations {
			line-height: 1.15;
			font-size: 1rem;
			.location {
				h2.h6 {
					text-transform: uppercase;
				}
				padding-bottom: rem-calc(18);
				padding-bottom: clamp( rem-calc(18), 3vw, rem-calc(25));
				@include breakpoint(medium) {
					padding-bottom: rem-calc(25);
					padding-bottom: clamp( rem-calc(18), 3vw, rem-calc(25));
				}
				.phone-wrap {
					padding-top: rem-calc(18);
					padding-top: clamp( rem-calc(18), 3vw, rem-calc(25));
					@include breakpoint(medium) {
						padding-top: rem-calc(25);
						padding-top: clamp( rem-calc(18), 3vw, rem-calc(25));
					}
				}
			}
		}
		#footer-nav {
			margin-left: -0.9375rem;
			margin-right: -0.9375rem;
			list-style: none;
			columns: 2;
			@include breakpoint(medium) {
				columns: 3;
			}
			> li {
				break-inside: avoid-column;
				padding-left: 0.9375rem;
				padding-right: 0.9375rem;
				margin-bottom: rem-calc(15);
				margin-bottom: clamp( rem-calc(15), 3vw, rem-calc(19) );
				@include breakpoint(medium) {
					margin-bottom: rem-calc(19);
					margin-bottom: clamp( rem-calc(15), 3vw, rem-calc(19) );
				}
				> a {
					display: inline-block;
					margin-bottom: rem-calc(6);
					margin-bottom: clamp(rem-calc(6), 1vw, rem-calc(9));
					@include breakpoint(medium) {
						margin-bottom: rem-calc(9);
						margin-bottom: clamp(rem-calc(6), 1vw, rem-calc(9));
					}
				}
				li {
					font-size: 1rem;
					margin-bottom: .35rem;
				}
			}
		}
	}


	.site-info {
		padding: 1.1rem 0 0;
		.p {
			color: #D0E8FC;
			font-size: 1rem;
			margin-bottom: 1.15rem;
			a {
				color: $white;
			}
		}
	}	
	.copyright {
		margin-bottom: 0;
		@include breakpoint(medium down) {
			text-align: center;
		}
		@include breakpoint(tablet) {
			br {
				display: none;
			}
		}
	}
	
}