.js-off-canvas-overlay.is-visible {
	position: fixed;
	height: 100vh;
}
.off-canvas {
	position: fixed;
	z-index: 9999;
	top: 0;
	bottom: 0;
	right: -100vw;
	height: 100%;
	width: 95vw;
	max-width: rem-calc(1020);
	visibility: hidden;
	opacity: 0;
	padding-top: clamp(rem-calc(40), 4vw, rem-calc(88));
	transition: opacity 0.3s ease, visibility 0s linear .35s;
	@include breakpoint(tablet) {
		width: 70vw;
	}
	.inner {
		width: 100%;
		height: calc(100vh - 2.5rem);
		height: calc(100vh - clamp(2.5rem, 4vw, 5.5rem));
		overflow-y: auto;
		@include breakpoint(medium) {
			height: calc(100vh - 5.5rem);
			height: calc(100vh - clamp(2.5rem, 4vw, 5.5rem));
		}
	}
	&.is-open {
		opacity: 1;
		visibility: visible;
		right: 0;
		transition: opacity 0.3s ease, visibility 0s linear 0s;
	}
	.menu-toggle-wrap {
		padding: 0 rem-calc(32) rem-calc(26);
		padding: 0 clamp(rem-calc(32), 4.5vw, rem-calc(98)) clamp(rem-calc(26), 3vw, rem-calc(50));
		@include breakpoint(medium) {
			padding: 0 rem-calc(98) rem-calc(50);
			padding: 0 clamp(rem-calc(32), 4.5vw, rem-calc(98)) clamp(rem-calc(26), 3vw, rem-calc(50));
		}
	}
	.menu-toggle {
		display: inline-flex;
		line-height: 1.357;
		flex-wrap: nowrap;
		font-size: rem-calc(20);
		font-size: clamp(rem-calc(20), 3vw, rem-calc(42));
		@include breakpoint(medium) {
			font-size: rem-calc(42);
			font-size: clamp(rem-calc(20), 3vw, rem-calc(42));
		}
		b {
			display: inline-block;
			margin-right: rem-calc(21);
		}
		svg {
			width: 20px;
			width: clamp(20px, 2.3vw, 100%);
			@include breakpoint(medium) {
				width: 100%;
				width: clamp(20px, 2.3vw, 100%);
			}
		}
	}
	.is-drilldown {
		width: 100%;
		max-width: 100% !important;
	}
	ul#offcanvas-nav.drilldown {
		width: 100%;
		background-color: $color-blue;
		> li {
			text-transform: uppercase;
		}
		a {
			background: transparent;
			display: flex;
			color: $white;
			font-weight: bold;
			font-size: rem-calc(26);
			font-size: clamp( rem-calc(26), 4vw, rem-calc(52));
			padding: 0 rem-calc(32);
			padding: 0 clamp(rem-calc(32), 4.5vw, rem-calc(98));
			margin-bottom: rem-calc(30);
			margin-bottom: clamp(rem-calc(30), 2.5vw, rem-calc(47));
			@include breakpoint(medium) {
				font-size: rem-calc(52);
				font-size: clamp( rem-calc(26), 4vw, rem-calc(52));
				padding: 0 rem-calc(98);
				padding: 0 clamp(rem-calc(32), 4.5vw, rem-calc(98));
				margin-bottom: rem-calc(47);
				margin-bottom: clamp(rem-calc(30), 2.5vw, rem-calc(47));
			}
		}
		.is-drilldown-submenu-parent {
			a {

			}
			> a {
				display: flex;
				align-items: center;
				justify-content: space-between;
				&:after {
					position: static;
					border: 0;
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='41.628' viewBox='0 0 26 41.628'%3E%3Cpath id='ic_chevron_right_24px' d='M13.537,6,8.59,10.891,24.66,26.814,8.59,42.736l4.947,4.891L34.59,26.814Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					transform: translateY(1px);
					width: rem-calc(12);
					width: clamp(rem-calc(12), 2vw, rem-calc(26));
					height: rem-calc(19);
					height: clamp(rem-calc(19), 4vw, rem-calc(41.6));
					@include breakpoint(medium) {
						width: rem-calc(26);
						width: clamp(rem-calc(12), 2vw, rem-calc(26));
						height: rem-calc(41.6);
						height: clamp(rem-calc(19), 4vw, rem-calc(41.6));
					}
				}
				span {
					display: inline-block;
					margin-right: rem-calc(16);
				}
			}
		}
		.is-drilldown-submenu {
			li {
				text-transform: none;
			}
		}
		.js-drilldown-back {
			a {
				line-height: 1.357;
				display: flex;
				align-items: center;
				flex-wrap: nowrap;
				font-size: rem-calc(20);
				font-size: clamp(rem-calc(20), 3vw, rem-calc(42));
				@include breakpoint(medium) {
					font-size: rem-calc(42);
					font-size: clamp(rem-calc(20), 3vw, rem-calc(42));
				}
				&:before {
					display: inline-block;
					margin-right: rem-calc(21);
					width: clamp(rem-calc(18.2), 2.5vw, rem-calc(26));
					height: clamp(rem-calc(29.12), 4vw, rem-calc(41.6));
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.51' height='34.438' viewBox='0 0 21.51 34.438'%3E%3Cpath id='ic_chevron_right_24px' d='M26.007,6,30.1,10.046,16.8,23.219,30.1,36.392l-4.093,4.046L8.59,23.219Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
				}
				svg {
					width: clamp(20px, 2.3vw, 100%);
				}
			}
		}
	}
	.off-canvas-secondary-wrap {
		padding-top: rem-calc(10);
		padding-left: rem-calc(10);
		padding-right: rem-calc(10);
		padding-bottom: rem-calc(40);
		
		padding-top: clamp(rem-calc(10), 1vw, rem-calc(35));
		padding-left: clamp(rem-calc(10), 1vw, rem-calc(35));
		padding-right: clamp(rem-calc(10), 1vw, rem-calc(35));
		padding-bottom: clamp(rem-calc(40), 3vw, rem-calc(64));
		@include breakpoint(medium) {
			padding-top: rem-calc(35);
			padding-left: rem-calc(35);
			padding-right: rem-calc(35);
			padding-bottom: rem-calc(64);
			
			padding-top: clamp(rem-calc(10), 1vw, rem-calc(35));
			padding-left: clamp(rem-calc(10), 1vw, rem-calc(35));
			padding-right: clamp(rem-calc(10), 1vw, rem-calc(35));
			padding-bottom: clamp(rem-calc(40), 3vw, rem-calc(64));
		}
	}
	#offcanvas-secondary-nav {
		list-style: none;
		columns: 1;
		padding: 0 1rem;
		padding: 0 clamp(1rem, 4.5vw, 6.125rem);
		@include breakpoint(medium) {
			columns: 2;
			padding: 0 6.125rem;
			padding: 0 clamp(1rem, 4.5vw, 6.125rem);
		}
		li {
			margin-left: -0.9375rem;
			margin-right: -0.9375rem;
			margin-bottom: rem-calc(8);
			margin-bottom: clamp(rem-calc(8), 2vw, rem-calc(15) );
			@include breakpoint(medium) {
				margin-bottom: rem-calc(15);
				margin-bottom: clamp(rem-calc(8), 2vw, rem-calc(15) );
			}
			a {
				display: inline-block;
				color: $white;
				font-weight: 700;
				line-height: 1.333;
				padding-left: 0.9375rem;
				padding-right: 0.9375rem;
				font-size: rem-calc(18);
				font-size: clamp(rem-calc(18), 3vw, rem-calc(24));
				@include breakpoint(medium) {
					font-size: rem-calc(24);
					font-size: clamp(rem-calc(18), 3vw, rem-calc(24));
				}
			}
		}
	}
	.ctas {
		padding-bottom: rem-calc(30);
		padding-bottom: clamp( rem-calc(30), 4vw, rem-calc(54) );
		@include breakpoint(medium) {
			padding-bottom: rem-calc(54);
			padding-bottom: clamp( rem-calc(30), 4vw, rem-calc(54) );
		}
		a.button {
			margin-bottom: 1.2rem;
		}
	}
	.call-wrap {
		padding-bottom: rem-calc(70);
		padding-bottom: clamp( rem-calc(70), 7vw, rem-calc(140) );
		@include breakpoint(medium) {
			padding-bottom: rem-calc(140);
			padding-bottom: clamp( rem-calc(70), 7vw, rem-calc(140) );
		}
		h2,
		.h2 {
			line-height: 1.35;
			font-size: rem-calc(24);
			font-size: clamp( rem-calc(24), 2.5vw, rem-calc(40) );
			@include breakpoint(medium) {
				font-size: rem-calc(40);
				font-size: clamp( rem-calc(24), 2.5vw, rem-calc(40) );
			}
		}
		a {
			display: inline-block;
			align-items: center;
		}
	}
}
.js-off-canvas-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	width: 100%;
	height: 100%;
	transition: opacity 0.3s ease, visibility 0s linear .3s;
	background-color: rgba(#232324, .93);
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	&.is-fixed {
		position: fixed;
	}
	&.is-closable {
		cursor: pointer;
	}
	&.is-visible {
		opacity: 1;
		visibility: visible;
		transition: opacity 0.3s ease, visibility 0s linear 0s;
	}
}

// .off-canvas {
// 	display: none;
// 	opacity: 0;
// 	position: fixed;
// 	z-index: 9999999999;
// 	top: 0;
// 	bottom: 0;
// 	right: 0;
// 	height: 100%;
// 	width: 100%;
// 	background-color: rgba(#232324, .93);
// 	&.is-open {
// 		display: block; /* Ensure the element is displayed when is-open class is present */
// 		animation: fadeIn 0.3s ease;
// 	}
// 	@keyframes fadeIn {
// 	  0% {
// 		opacity: 0;
// 	  }
// 	  100% {
// 		opacity: 1;
// 	  }
// 	}
// 	ul#offcanvas-nav {
// 		width: 50vw;
// 		max-width: 1020px; /* Corrected rem-calc to px */
// 		min-height: 100vh;
// 		overflow-y: auto;
// 	}
// }
