.gradient-bg {
	background-image: linear-gradient(90.59deg, #f6885c 0%, #f91c5d 23.599999999999998%, #96358a 53.2%, #5446ab 71.6%, #379ff8 100%);
}
.blue-bg {
	background-color: $color-blue;
	color: $white;
	a,
	p,
	.p {
		color: $white;
	}
}
.white-bg {
	background-color: $white;
}
.color-white {
	color: $white;
	a,
	p,
	.p,
	h2,
	.h3,
	h3 {
		color: $white;
	}
}
.color-blue {
	color: $color-blue;
	a,
	p,
	.p,
	.h3,
	.h4 {
		color: $color-blue;
	}
}
.color-sky-blue {
	color: $color-sky-blue;
	a,
	p,
	.p,
	.h3 {
		color: $color-sky-blue;
	}
}
.color-dark-gray {
	color: $dark-gray;
	a,
	p,
	.p {
		color: $dark-gray;
	}
}
.color-orange {
	color: $color-orange;
	a,
	p,
	.p {
		color: $color-orange;
	}
}
.uppercase {
	text-transform: uppercase;
}
.font-poppins {
	font-family: $font-body !important;
}
.weight-medium {
	font-weight: 500 !important;
}
.has-bg {
	position: relative;
	.bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
	}
}
.relative {
	position: relative;
}