.blog,
.archive {
	.ajax-load-more-wrap {
		padding-bottom: 13.85rem;
		.alm-btn-wrap{
			padding-top: 2.9rem;
		}
	}	
}

.blog,
.archive,
.posts-page,
.teachers-cta {
	.grid-intro-text {
		padding-bottom: 1.7rem;
	}
	#options {
		padding-bottom: 1.3rem;
	}
	.load-more-wrap {
		width: 100%;
		padding-top: 4.35rem;
	}
	article.page {
		padding-bottom: 5rem;
		@include breakpoint(medium) {
			padding-bottom: 18rem;
		}
	}
	article.teacher-card,
	article.enrichment-card {
		transition: opacity .3s ease .3s;
		a {}
		&.hidden {
			visibility: hidden;
			width: 0px !important;
			height: 0px !important;
			margin: 0px !important;
			padding: 0px !important;
			opacity: 0;
		}
	}
	article.teacher-card {
		margin-bottom: 3.42rem;
		margin-bottom: $smallGutter; 
		@include breakpoint(medium) {
			margin-bottom: $mediumGutter;
		}
		h4 {
			color: $dark-gray;
			font-family: $font-header;
			font-weight: 700;
			font-size: clamp(1rem, 0.97rem + 0.129vw, 1.125rem);
			line-height: 1.1666;
		}

	}
	article.enrichment-card {
		margin-bottom: 26px;
		a {
			height: 100%;
			position: relative;
			padding: 8px 0;
			&:before {
				content: '';
				display: block;
				position: absolute;
				z-index: -1;
				top: 0;
				left: 24px;
				height: 100%;
				width: calc(100% - 24px);
				background-color: $color-sky-blue;
				border-radius: 15px;
			}
		}
		.icon-wrap {
			.purple-bg {
				width: 84px;
				height: 84px;
				border: 1px solid #707070;
				border-radius: 100%;
				padding: 1rem;
				img {
					max-height: 100%;
				}
			}
		}
		h3 {
			height: 100%;
			font-weight: 800;
			margin: 0;
			padding: .65rem 1.05rem;
		}
	}
}

.filter-grid {
	&.equal-heights {
		article {
			display: flex;
			width: 100%;
			a {
				display: flex;
				width: 100%;
				height: auto;
			}
		}
	}
}

article.post-card {
	margin: calc($smallGutter * .5) 0; 
	@include breakpoint(medium) {
		margin: calc($mediumGutter * .5) 0;
	}
	.inner {
		.permalink {
			position: absolute;
			top: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
			h3 {
				font-weight: 800;
				margin-bottom: 0;
				margin: 0;
				width: 100%;
				font-size: clamp(1rem, 0.894rem + 0.453vw, 1.438rem);
				line-height: 1.0869;
				font-weight: 700;
				background-color: rgba(255,255,255,.8);
				padding: 1.35rem 1.25rem 1.05rem;
				transition: background-color .25s ease;
			}
			&:hover {
				h3 {
					color: $color-coral;
					background-color: rgba(255,255,255,1);
				}
			}
		}
		.cat-link {
			display: inline-block;
			position: absolute;
			top: -9px;
			right: -9px;
			min-width: calc(50% + 9px);
			background-color: $color-orange;
			color: $white;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 1rem;	
			padding: 0.75rem;
			transition: background-color .25s ease;
			&:hover {
				background-color: scale-color($color-orange, $lightness: -20%);
			}
		}			
	}
}

article.event-card {
	margin-bottom: rem-calc(82);
	h3 {
		font-weight: 800;
		margin-bottom: .87em;
	}
	.date {
		margin-bottom: .66em;
	}
	.btn-wrap {
		margin-top: rem-calc(22);
	}
}

.circle-thumb-wrap {
	border-radius: 100%;
	overflow: hidden;
	border: 6px solid $color-blue;
	margin-bottom: 0.95rem;
	position: relative;
	padding-bottom: calc(100% - 12px);
	transition: border-color .25s ease;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
	}
	&.fallback-img {
		img {
			object-position: center;
		}
	}
}

.single .icon-wrap {
	border-radius: 100%;
	padding-bottom: 360px;
	max-width: 360px;
	margin: auto;
	@include breakpoint(xlarge) {
		padding-bottom: 100%;
	}
	img {
		position: absolute;
		top: 15%;
		left: 15%;
		width: 70%;
		height: 70%;
		object-fit: contain;
	}	
}

article.teacher-card {
	a {
		&:hover {
			.circle-thumb-wrap {
				border-color: $color-coral;
			}
		}
	}
}

article.single-img-sidebar {
	padding-top: 7.125rem;
	padding-bottom: 7.5rem;
	.inner {
		@include breakpoint(tablet) {
			justify-content: center;
		}
	}
	.left {
		max-width: calc(360px + calc($smallGutter * 2) ) ; 
		@include breakpoint(medium) {
			max-width: calc(360px + calc($mediumGutter * 2) ) ;
		}
		> div {
			margin-bottom: 0.95rem;
		}
	}
	.entry-footer,
	ul.terms-list {
		li,
		.tax-label {
			font-weight: 800;
		}
	}
	.entry-footer {
		padding-top: 2.865rem;
		padding-left: rem-calc(20);
		padding-right: rem-calc(20);
		.grid-x {
			> .cell {
				padding-left: rem-calc(5);
				padding-right: rem-calc(5);
			}
		}
		button {
			margin: rem-calc(5) 0;
		}
	}
}