.blog,
.archive,
.posts-page,
.teachers-cta,
.teachers-staff-block {
	&.content,
	.content {
		padding-bottom: 6.6rem;
		@include breakpoint(medium) {
			padding-bottom: 12.6rem;
		}
		&.no-banner {
			padding-top: 4.1rem;
			@include breakpoint(medium) {
				padding-top: 6.6rem;
			}
		}
		&.primary-only {
			#options {
				padding-bottom: 2.6rem;
			}
		}
	}
	.grid-intro-text {
		padding-bottom: 1.7rem;
	}
	#options {
		padding-bottom: 1rem;
	}
	&.course-posts {
		#options {
			padding-bottom: 2rem;
		}
	}
	.load-more-wrap {
		width: 100%;
		padding-top: 2rem;
		@include breakpoint(medium) {
			padding-top: 4.35rem;
		}
	}
	.isotope-filter-loadmore {
		padding-bottom: 4px;
	}
	// article.page {
	// 	padding-bottom: 5rem;
	// 	@include breakpoint(medium) {
	// 		padding-bottom: 18rem;
	// 	}
	// }
	article.load-more-filter-card {
		transition: opacity .25s ease .35s;
		&.hidden {
			visibility: hidden;
			width: 0px !important;
			height: 0px !important;
			margin: 0px !important;
			padding: 0px !important;
			opacity: 0;
		}
	}
	article.teacher-card {
		margin-bottom: 3.42rem;
		margin-bottom: $smallGutter; 
		@include breakpoint(medium) {
			margin-bottom: $mediumGutter;
		}
		h4 {
			color: $dark-gray;
			font-family: $font-header;
			font-weight: 700;
			line-height: 1.1666;
			font-size: 1rem;
			font-size: clamp(1rem, 0.97rem + 0.129vw, 1.125rem);
			@include breakpoint(medium) {
				font-size: 1.125rem;
				font-size: clamp(1rem, 0.97rem + 0.129vw, 1.125rem);
			}
		}

	}
	article.enrichment-card {
		margin-bottom: 26px;
		.grid-x {
			width: 100%;
			height: 100%;
			position: relative;
			padding: 8px 0;
			&:before {
				content: '';
				display: block;
				position: absolute;
				z-index: -1;
				top: 0;
				left: 24px;
				height: 100%;
				width: calc(100% - 24px);
				background-color: $color-sky-blue;
				border-radius: 15px;
			}
		}
		.icon-wrap {
			.purple-bg {
				width: 84px;
				height: 84px;
				border: 1px solid #707070;
				border-radius: 100%;
				padding: 1rem;
				img {
					max-height: 100%;
				}
			}
		}
		h3 {
			height: 100%;
			font-weight: 800;
			margin: 0;
			padding: .65rem 1.05rem;
		}
	}
}

.page-template-page-academic-courses,
.page-template-page-enrichment-courses {
	.filter-grid {
		&.equal-heights {
			article {
				display: flex;
				width: 100%;
				a {
					display: flex;
					width: 100%;
					height: auto;
				}
			}
		}
	}
}

article.post-card {
	margin: 0 0 calc($smallGutter); 
	display: flex;
	@include breakpoint(medium) {
		margin: 0 0 calc($mediumGutter);
	}
	.inner {
		width: 100%;
		.thumbnail-wrap {
			height: 100%;
			width: 100%;
			position: relative;
			padding-bottom: 118%;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.permalink {
			position: absolute;
			top: 0;
			bottom: 0;
			height: 100%;
			width: 100%; cursor: pointer;
			overflow: hidden;
			.text-wrap {
				width: 100%;
				background-color: rgba(255,255,255,.8);
				padding: 0 1.25rem;
				h3 {
					font-weight: 800;
					margin-bottom: 0;
					margin: 0;
					width: 100%;
					line-height: 1.0869;
					font-weight: 700;
					padding: 1.35rem 0 1.05rem;
					transition: color .25s ease;
					font-size: 1rem;
					font-size: clamp(1rem, 0.894rem + 0.453vw, 1.438rem);
					
					@include breakpoint(medium) {
						font-size: 1.438rem;
						font-size: clamp(1rem, 0.894rem + 0.453vw, 1.438rem);
					}
				}
				.content-wrap {
					padding: 0 0 1.05rem;
					//margin-bottom: calc(-100% - 1.56rem);
					transition: margin-bottom .5s ease, opacity .25s ease .5s;
				}
			}
			&:hover {
				h3 {
					color: $color-coral;
				}
				.content-wrap {
					//margin-bottom: 0;
				}
			}
		}
		.cat-link {
			display: inline-block;
			position: absolute;
			top: -10px;
			right: -10px;
			min-width: calc(50% + 10px);
			background-color: $color-orange;
			color: $white;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 1rem;	
			padding: 0.75rem;
			transition: background-color .25s ease;
			&:hover {
				background-color: scale-color($color-orange, $lightness: -20%);
			}
		}			
	}
	&.hover-card {
		.permalink {
			overflow-x: hidden;
			overflow-y: auto;
			.content-wrap {
				opacity: 0;
			}
			.text-wrap {

			}
			&:hover {
				.content-wrap {
					opacity: 1;
					margin-bottom: 0 !important;
					transition: margin-bottom .5s ease, opacity .25s ease .3s;
				}
			}
		}
		&.loading {
			.content-wrap {
				transition: margin-bottom 0s linear !important;
			}
		}
	}
}

article.event-card {
	margin-bottom: rem-calc(82);
	.thumbnail-wrap {
		@include breakpoint(small down) {
			margin-bottom: 2rem;
		}
	}
	h3 {
		font-weight: 800;
		margin-bottom: .87em;
		a:hover {
			color: $color-coral;
		}
	}
	.date {
		margin-bottom: .66em;
	}
	.btn-wrap {
		margin-top: rem-calc(22);
	}
}

.circle-thumb-wrap {
	border-radius: 100%;
	overflow: hidden;
	border: 6px solid $color-blue;
	margin-bottom: 0.95rem;
	position: relative;
	padding-bottom: calc(100% - 12px);
	transition: border-color .25s ease;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
	}
	&.fallback-img {
		img {
			object-position: center;
		}
	}
}


article.teacher-card {
	a {
		&:hover {
			.circle-thumb-wrap {
				border-color: $color-coral;
			}
		}
	}
}

article.single-img-sidebar,
.single-post {
	h1 {
		margin-bottom: .7em;
	}
	.thumb-banner {
		margin-top: 2rem;
		margin-bottom: 2rem;
		@include breakpoint(medium) {
			margin-top: 2.5rem;
			margin-bottom: 2rem;
		}
	}
	.thumb-float {
		display: inline-block;
		float: right;
		max-width: 480px;
		margin-top: .7rem;
		margin-bottom: 2.1875rem;
		margin-left: 2rem;
		@include breakpoint(medium down) {
			max-width: 50%;
		}
		@include breakpoint(small down) {
			max-width: 100%;
			margin-top: 1rem;
			margin-left: 0;
			float: none;
		}
	}
	.icon-wrap {
		border-radius: 100%;
		padding-bottom: 360px;
		max-width: 360px;
		margin: auto;
		@include breakpoint(xlarge) {
			padding-bottom: 100%;
		}
		img {
			position: absolute;
			top: 15%;
			left: 15%;
			width: 70%;
			height: 70%;
			object-fit: contain;
		}	
	}
	.content-wrap > * {
		margin-top: 0 !important;
	}
	.entry-footer,
	ul.terms-list {
		li,
		.tax-label {
			font-weight: 800;
		}
	}
	.entry-footer {
		padding-top: 2.865rem;
		padding-left: rem-calc(20);
		padding-right: rem-calc(20);
		.grid-x {
			> .cell {
				padding-left: rem-calc(5);
				padding-right: rem-calc(5);
			}
		}
		button {
			margin: rem-calc(5) 0;
		}
	}
}

article.single-img-sidebar,
 {
	padding-top: 7.125rem;
	padding-bottom: 7.5rem;
	.inner {
		@include breakpoint(tablet) {
			justify-content: center;
		}
	}
	.left {
		max-width: calc(360px + calc($smallGutter * 2) ) ; 
		@include breakpoint(medium) {
			max-width: calc(360px + calc($mediumGutter * 2) ) ;
		}
		> div {
			margin-bottom: 0.95rem;
		}
	}
}