// Fonts
$font-header: 'Nunito Sans', sans-serif;
$font-body: 'Poppins', sans-serif;
// Colors
$color-orange: #f4a85d;
$color-coral: #ff1b85;
$color-blue: #0052d4;
$color-sky-blue: #379ff8;
$color-purple: #6C1CAF;
$white: #ffffff;

// ADA Overrides
$color-orange-ada: #d3730c;
$color-coral-ada: #cc0b65;
$color-blue-ada: #0c459e;
$color-coral-ada: #952c73;
$color-sky-blue-ada: #0474d3;
