.page-template-page-secondary-hp-kitchen-sink,
.page-template-page-secondary-hp-w-nav,
.page-template-page-secondary-hp-wo-nav,
.page-template-page-academics-interior {
	.intro {
		padding-top: calc(.7 * rem-calc(143));
		padding-bottom: calc(.7 * rem-calc(133));
		@include breakpoint(medium) {
			padding-top: rem-calc(143);
			padding-bottom: rem-calc(133);
		}
		&.icr-row {
			.img-wrap {
				@include breakpoint(medium down) {
					margin-bottom: 1rem;
				}
			}
		}
		&.wywiwygs-50-50 {
			padding-bottom: rem-calc(50);
			@include breakpoint(medium) {
				padding-bottom: 0;
			}
			p:last-child {
				&:has(img) {
					margin-bottom: 0;
				}
			}
		}
	}
	.intro:has(+ .blocks) {
		padding-bottom: 4.3rem;
	}
	.blocks {
		padding-bottom: calc(.7 * rem-calc(70));
		@include breakpoint(medium) {
			padding-bottom: rem-calc(100);
		}
	}
}