.page-template-page-teachers-staff,
.page-template-page-teachers-staff-elementary-school,
.page-template-page-teachers-staff-middle-school,
.page-template-page-teachers-staff-high-school, {
	.ctas-video-slider {
		position: relative;
		margin-bottom: 5.55rem;
		.inner-height-control {
			min-height: rem-calc(548);
			min-height: clamp(23.975rem, 21.481rem + 10.641vw, 34.25rem);
		}
		.swiper-slide .grid-container .right .inner {
			@include breakpoint(medium down) {
				min-height: 40vw
			}
		}
	}
}