.ctas-video-slider {
	position: relative;
	.inner-height-control {
		min-height: rem-calc(765);
		min-height: clamp(31.25rem, 27.177rem + 17.377vw, 47.813rem);
	}
	.bg.gradient-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% + $mediumGutter);
		height: 100%;
		background-image: linear-gradient(90.59deg, #f6885c 0%, #f91c5d 23.599999999999998%, #96358a 53.2%, #5446ab 71.6%, #379ff8 100%);
		@include breakpoint(tablet) {
			width: 100%;
			clip-path: polygon(0% 0, 100% 0%, 73% 100%, 0 100%);
			width: calc( 70vw + $mediumGutter);
		}
		@include breakpoint(xxlarge) {
			width: calc( 58.333vw + $mediumGutter);
		}
		
		@media (min-width: 1696px) {
			margin-left: calc( (100vw - 1696px) * -.5 - $mediumGutter);
		}
		
	}
	.left {
		position: relative;
		z-index: 1;
		h1,
		h2 {
			margin-bottom: 1em,
		}
		.inner {
			position: relative;
			z-index: 1;
			padding: $mediumGutter 0;
		}
	}
	.right {
		position: relative;
		z-index: 0;
		@include breakpoint(tablet) {
			padding-left: 0;
		}
		.inner {
			height: 100%;
			width: calc( 100% + ($mediumGutter * .5) );
			@include breakpoint(medium down) {
				width: calc( 100% + $mediumGutter );
				margin-left: -($mediumGutter * .5) ;
			}
			.img-wrap {
				overflow: hidden;
				height: 100%;
				position: relative;
				// @include breakpoint(tablet) {
				// 	width: calc( 100% + ($mediumGutter * .5) );
				// }	
				
				@media (min-width: 1696px) {
					margin-left: calc( (100vw - 1696px) * -.5 - $mediumGutter);
					margin-right: calc( (100vw - 1696px) * -.5 - $mediumGutter);
				}
				
			}
			img.image {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				transition: transform .3s ease;
			}
			img.play-icon {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				max-width: 80px;
				@include breakpoint(medium) {
					max-width: 100%;
				}
			}
			button {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				&:hover {
					img.image {
						transform: scale(1.05);
					}
				}
			}
		}
		&.sp-wrap {
			z-index: 2;
			.inner {
				position: relative;
			}
		}
	}
	.swiper-slide {
		overflow: hidden;
		display: flex;
		height: auto;
		.grid-container {
			box-sizing: border-box;
			.right {
				.inner {
					@include breakpoint(medium down) {
						min-height: 65vw;
					}
				}
			}
		}
	}
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		position: absolute;
		bottom: 29px;
		span {
			opacity: 1;
			width: rem-calc(61);
			height: rem-calc(21);
			width: clamp(2.669rem, 2.388rem + 1.2vw, 3.813rem);
			height: clamp(0.919rem, 0.822rem + 0.413vw, 1.313rem);
			background: $color-coral;
			border-radius: 6px;
			border-radius: clamp(0.263rem, 0.235rem + 0.118vw, 0.375rem);
			margin: 14px !important;
			margin: clamp(0.613rem, 0.548rem + 0.275vw, 0.875rem) !important;
			&.swiper-pagination-bullet-active {
				background: $color-blue;
			}
		}
	}
	
	&.img-type-background {
		.bg-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
		.bg.gradient-1 {
			opacity: .83;
		}
	}
	
}