.cta-centered-heading-two-buttons {
	padding-top: 5.78rem;
	padding-bottom: 6.7rem;
	@include breakpoint(medium) {
		padding-top: 11.78rem;
		padding-bottom: 12.7rem;
	}
	.mask {
		background-color: $color-sky-blue;
		mix-blend-mode: multiply;
	}
	h2 {
		line-height: 1;
		text-transform: none;
		margin-bottom: 1.045em;
		font-size: 2.712rem;
		font-size: clamp(2.712rem, 2.427rem + 1.22vw, 3.875rem);
		@media (max-width: 570px) {
			br {
				display: none;
			}
		}
		@include breakpoint(medium) {
			font-size: 3.875rem;
			font-size: clamp(2.712rem, 2.427rem + 1.22vw, 3.875rem);
		}
	}
	a.button {
		margin-bottom: $smallGutter; 
		&:hover {
			background-color: $white;
		}
		@include breakpoint(medium) {
			margin-bottom: $mediumGutter;
		}
	}
}