.image-copy-repeater {
	background-color: #F7F7F7;
	padding-top: rem-calc(55);
	padding-bottom: rem-calc(115);
	&.type-slider {
		.ics-slider {
			.grid-x {
				box-sizing: border-box;
			}
			.copy-wrap {
				padding-bottom: 3rem;
				.inner {
					max-width: 620px;
					h1,
					h2 {
						color: $color-blue;
					}
				}
			}
		}
		.swiper-slide {
			background: #F7F7F7;
		}
		.pagination-wrap {
			max-width: 620px;
		}
		.swiper-pagination-bullets.swiper-pagination-horizontal {
			position: relative;
			z-index: 1;
			display: flex;
			margin-top: -3rem;
			margin-left: -.75rem;
			span {
				border-color: $color-coral;
			}
		}
	}
	&:not(.layout-image-right) {

	}
	&.layout-image-right {
		.swiper-pagination-bullets.swiper-pagination-horizontal {
			margin-left: -1.8rem;
		}
	}
	&.border-white {
		border-bottom: 12px solid $white;
	}
}