.image-copy-repeater {
	background-color: #F7F7F7;
	padding-top: rem-calc(80);
	padding-bottom: rem-calc(80.5);
	@include breakpoint(medium) {
		padding-top: rem-calc(115);
		padding-bottom: rem-calc(115);
	}
	&.type-slider {
		.ics-slider {
			.grid-x {
				box-sizing: border-box;
			}
			.copy-wrap {
				padding-bottom: 3rem;
				.inner {
					max-width: 620px;
				}
			}
		}
		.swiper-slide {
			background: #F7F7F7;
		}
		.pagination-wrap {
			max-width: 620px;
		}
		.swiper-pagination-bullets.swiper-pagination-horizontal {
			position: relative;
			z-index: 1;
			display: flex;
			margin-left: -.75rem;
			@include breakpoint(tablet) {
				margin-top: -1.5rem;
			}
			span {
				background: transparent;
				border: 1px solid #FF1B59;
				&.swiper-pagination-bullet-active {
					background: $color-blue;
					border-color: $color-blue;
				}
			}
		}
	}
	&:not(.layout-image-right) {

	}
	&.layout-image-right {
		.swiper-pagination-bullets.swiper-pagination-horizontal {
			margin-left: -1.8rem;
		}
	}
	&.border-white {
		border-bottom: 12px solid $white;
	}
}