.latest-posts {
	position: relative;
	padding-top: 4rem;
	padding-bottom: 7rem;
	@include breakpoint(medium) {
		padding-top: 7rem;
		padding-bottom: 15rem;
	}
	h2 {
		margin-bottom: 1.65em;
	}
	.mask {
		background-color: #0151D4;
		mix-blend-mode: multiply;	
	}
	article {
		margin: calc($smallGutter * .5) 0; 
		@include breakpoint(medium) {
			margin: calc($mediumGutter * .5) 0;
		}
		.inner {
			border: 10px solid $white;
			.permalink {
				position: absolute;
				top: 0;
				bottom: 0;
				height: 100%;
				width: 100%;
				h3 {
					margin: 0;
					font-size: rem-calc(17);
					line-height: 1.235;
					font-weight: 600;
					background-color: rgba(255,255,255,.8);
					padding: .85rem .7rem 1.1rem;
					transition: background-color .25s ease;
				}
				&:hover {
					h3 {
						color: $color-coral;
						background-color: rgba(255,255,255,1);
					}
				}
			}
			.cat-link {
				display: inline-block;
				position: absolute;
				top: -10px;
				right: -10px;
				min-width: calc(50% + 10px);
				background-color: $color-orange;
				color: $white;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 1rem;	
				padding: 0.75rem;
				transition: background-color .25s ease;
				&:hover {
					background-color: scale-color($color-orange, $lightness: -20%);
				}
			}			
		}
	}
	.part-header-button-link-cta {
		margin-top: 8.35rem;
	}
}