.on-page-nav {
	padding-top: rem-calc(20);
	padding-bottom: rem-calc(4);
	font-family: $font-header;
	font-weight: 700;
	font-size: 1rem;
	font-size: clamp(1rem, 0.954rem + 0.194vw, 1.188rem);
	@include breakpoint(medium) {
		font-size: 1.188rem;
		font-size: clamp(1rem, 0.954rem + 0.194vw, 1.188rem);
	}
	.grid-x {
		justify-content: center;
		@include breakpoint(medium) {
			justify-content: flex-end;
		}
	}
	.cell {
		margin-bottom: 1rem;
	}
	.parent-title {
		border-right: 2px solid $white;	
	}
	a {
		display: inline-block;
		&:hover {
			text-decoration: underline;
		}
	}
	.child-links {
		a{
			color: #E4C6FD;
		}
		a {
			&:hover {
				color: $white;
			}
		}
		span {
			color: $white;
		}
	}
}