.gradient-bg {
	background-image: linear-gradient(90.59deg, #f6885c 0%, #f91c5d 23.599999999999998%, #96358a 53.2%, #5446ab 71.6%, #379ff8 100%);
}
.blue-bg,
.purple-bg {
	color: $white;
	a,
	p,
	.p {
		color: $white;
	}
}
.blue-bg {
	background-color: $color-blue;
}
.sky-blue-bg {
	background-color: $color-sky-blue;
}
.purple-bg {
	background-color: $color-purple;
}
.white-bg {
	background-color: $white;
}
.color-white {
	color: $white;
	a,
	p,
	.p,
	h2,
	.h3,
	h3 {
		color: $white;
	}
}
.color-blue {
	color: $color-blue;
	a,
	p,
	.p,
	.h3,
	.h4,
	.h6 {
		color: $color-blue;
	}
	&.h6 {
		color: $color-blue;
	}
}
.color-coral {
	color: $color-coral;
}
.color-sky-blue {
	color: $color-sky-blue;
	a,
	p,
	.p,
	.h3 {
		color: $color-sky-blue;
	}
}
.color-dark-gray {
	color: $dark-gray;
	a,
	p,
	.p {
		color: $dark-gray;
	}
}
.color-orange {
	color: $color-orange;
	a,
	p,
	.p,
	&.h3 {
		color: $color-orange;
	}
}
.color-purple {
	color: $color-purple;
	a,
	p,
	.p {
		color: $color-purple;
	}
}
.black-ds,
.purple-ds,
.blue-ds {
	transition: color .3s ease, background-color .3s ease,box-shadow .3s ease;
	&.button,
	&.link {
		&:hover {
			box-shadow: 4px 4px 0px 0px #010B1A;
		}
	}
}
.black-ds {
	box-shadow: 4px 4px 0px 0px #000;
}
body .gform_footer input,
.purple-ds,
body .alm-btn-wrap .alm-load-more-btn {
	box-shadow: 4px 4px 0px 0px $color-purple !important;
	&:not(input):hover {
		box-shadow: 4px 4px 0px 0px #010B1A !important;
	}
	
}
// input.purple-ds:focus {
// 	box-shadow: 4px 4px 0px 0px #010B1A !important;
// }
.blue-ds {
	box-shadow: 4px 4px 0px 0px $color-blue;
}
.uppercase {
	text-transform: uppercase;
}
.font-header {
	font-family: $font-header !important;
}
.font-body {
	font-family: $font-body !important;
}
.weight-medium {
	font-weight: 500 !important;
}
.has-bg {
	position: relative;
	.bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
	}
}
.has-object-cover {
	img.object-cover {
		width: 100%;
		height: 100px;
		object-fit: cover;
	}
}
.relative {
	position: relative;
}