// Fonts
$font-header: 'Nunito Sans', sans-serif;
$font-body: 'Poppins', sans-serif;
// Colors
$color-orange: #f4a85d;
$color-coral: #ff1b85;
$color-blue: #0052d4;
$color-sky-blue: #379ff8;
$color-purple: #6C1CAF;

